@using ccisurvey.data.Models
@model ccisurvey.services.VMs.AddParticipantViewModel

@{
    ViewData["Title"] = "AddParticipant";
    var survey = (Survey)ViewData["Survey"];
    var participants = (List<string>)ViewData["Participants"];
    var test = "";
}

<h1>AddParticipant</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-12">
        @foreach (var participant in participants)
        {
            <p>
                @participant
            </p>
        }
    </div>
    <div class="col-md-4">
        <form asp-action="AddParticipant" asp-route-id="@survey.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter un participant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
