/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.hr-gray {
    border-top: 1px solid lightgray;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Buttons
-------------------------------------------------- */
.mas-btn-container {
    margin: 0 auto !important;
}

.mas-btn {
/*    width: 100%;*/
    border: none;
    background-color: none;
    text-align: center;
    padding: 0.3rem 2rem !important;
    display: inline;
    overflow-wrap: normal;
}
.mas-btn-white {
    background-color: white;
    color: #2B2D42 !important;
    border-radius: 500px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background: #FDF1D8;
}

.wrapper {
    max-width: 1128px;
    margin: 0 auto;
    padding-bottom: 80px;
}


/* Sticky footer 
-------------------------------------------------- */
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border: none !important;
    background-color: #2B2D42;
    padding-block: 10px;
    display: flex;
    justify-content: center;
}

.footer .nav {
    width: 330px;
    justify-content: space-around;
}

.footer .nav-btn {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 666px;
    color: #FFFFFF;
    border: 5px solid white;
    display: flex;
    align-items: center;
}

.footer .nav-btn > * {
    width: 100%;
    height: 100%;
}

/* Sticky header 
-------------------------------------------------- */
.header .nav-btn {
    width: clamp(45px, 15vw, 60px);
    height: clamp(45px, 15vw, 60px);
    margin-left: 10px;
    padding: 10px;
    border-radius: 666px;
    color: #FFFFFF;
    background: #E86A92;
}
.header .nav-btn>* {
    width: 100%;
    height: 100%;
}

.header .nav-logo {
    height: 60px;
}

/* All pages 
-------------------------------------------------- */
a {
    text-decoration: none !important;
}

.all {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.all * {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.form-container {
    height: 100%;
    padding-inline: 20px;
    padding-top: 20px;
    border-radius: 20px;
    background: #2B2D42;
}

.form-container * {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16pt;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24pt;
    align-self: center;
}

.form-group {
    margin-bottom: 20px
}

.form-group input {
    border-radius: 23px;
    color: #2B2D42;
}

.form-group .form-control {
    padding-inline: 20px;
    font-weight: 400;
}

.form-container tr {
    padding-inline: 10px;
    margin-top: 20px;
    border-radius: 23px;
    background: #E86A92;
    flex-direction: row;
    justify-content: space-between;
}

.form-container tr * {
    flex-direction: row;
}

.form-group label {
    margin-top: 20px;
}

.form-container .title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container .title h1 {
    font-style: normal;
    margin-bottom: 0;
    font-size: 24pt;
    align-self: center;
}

.form-container .title svg {
    height: 20px;
    margin-left: 10px;
}

.form-group input, .form-group textarea {
    border-radius: 23px;
    color: #2B2D42;
}

.form-check-input {
    position: relative;
}

/* Home page 
-------------------------------------------------- */
.home .logo {
    width: clamp(250px, 70vw, 300px);
}
.home .explication {
    color: #FFFFFF;
    font-size: clamp(17px, 4vw, 1.5rem);
    border-radius: 20px;
    background: #2B2D42;
    font-weight: 800;
}

/* Login page 
-------------------------------------------------- */
.login .form-group .connexion {
    width: 250px;
    color: #2B2D42;
    background: #FFFFFF;
    text-align: center;
    align-self: center;
}

.login label {
    margin: 0px;
}

.login .signup {
    margin-bottom: 20px;
    align-self: center;
}

.login a:hover {
    color: #FFFFFF;
}
/* Register page 
-------------------------------------------------- */
.register .form-group .create {
    width: 250px;
    color: #2B2D42;
    background: #FFFFFF;
    text-align: center;
    align-self: center;
}

.register label {
    margin: 0px;
}

/* MySurveys page 
-------------------------------------------------- */
.mySurveys .form-container .survey {
    margin-bottom: 20px;
    padding-inline: 10px;
    border-radius: 23px;
    background: #e86a92;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.mySurveys .form-container .survey svg {
    height: 23px;
}

/* AddProposition page 
-------------------------------------------------- */
.addProp a:hover {
    color: #FFFFFF;
}

.addProp .form-group .enter {
    padding-inline: 10px;
    font-weight: 400;
    border-radius: 23px;
    color: #2B2D42;
}

.addProp .form-group .add {
    width: 350px;
    border-radius: 23px;
    color: #2B2D42;
    background: #FFFFFF;
    text-align: center;
    align-self: center;
}

.addProp .end {
    margin-bottom: 20px;
    align-self: center;
}

/* Create page 
-------------------------------------------------- */
.create div .multiple {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.create div .multiple p {
    margin-left: 20px;
}

.create .form-group .next {
    width: 350px;
    color: #2B2D42;
    background: #FFFFFF;
    text-align: center;
    align-self: center;
}

.create label {
    margin: 0px;
}

/* View page 
-------------------------------------------------- */
.view form {
    margin-top: 20px;
}

.view .form-container {
    padding-bottom: 20px;
}

.view .form-container .form-group {
    padding-inline: 10px;
    border-radius: 23px;
    background: #E86A92;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.view .form-container .form-group label {
    margin: 0px
}

.view .form-container .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view .form-container .input {
    margin-right: 10px;
    position: relative;
}

.view .form-container .validate {
    width: 250px;
    border-radius: 23px;
    background: #FFFFFF;
    color: #2B2D42;
    align-self: center;
}

.view .form-container .add {
    margin-top: 20px;
    align-self: center;
}

.view .form-container .enclose {
    width: 350px;
    margin-top: 20px;
    border-radius: 23px;
    background: #FFFFFF;
    color: #2B2D42;
    align-self: center;
}

.view .form-container .delete {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    border-radius: 23px;
    background: #FFFFFF;
    color: #2B2D42;
    align-self: center;
}

/* Close page 
-------------------------------------------------- */
.closed form {
    margin-top: 20px;
}
