@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="page home">
    <div class="d-flex justify-content-center mt-5">
        <a href="/">
            <img class="logo" src="~/Image/logo.png" alt="logo" />
        </a>
    </div>
    <div class="explication p-4 mt-5">
        <p class="mb-4">
            Planifiez plus facilement vos évènements avec Make A Survey&nbsp;!
        </p>
        <p class="mb-5">
            Créez des sondages et recueillez les voix des gens&nbsp;!
        </p>
        <p class="text-center">
            <a href="/survey/create" style="text-decoration: none; color: white;">
                Commencez-dès maintenant !
            </a>
        </p>
    </div>
</div>

<!--
    <style scoped>

        .home, .home * {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .logo {
            width: 300px;
            margin: 50px;
        }

        .plus *, .person-fill * {
            color: #FFFFFF;
        }

        .explication {
            margin-inline: 50px;
        }

        .explication p {
            margin: 20px;
            color: #FFFFFF;
            font-weight: 800;
            font-style: italic;
            font-size: 16pt;
        }
    </style>
-->