@{
    ViewData["Title"] = "Home Page";
}

<div class="page home">
    <div class="d-flex justify-content-center mt-5">
        <a href="/">
            <img class="logo" src="~/Image/logo.png" alt="logo" />
        </a>
    </div>
    <div class="explication p-4 mt-5">
        <p class="mb-4">
            Planifiez plus facilement vos évènements avec Make A Survey&nbsp;!
        </p>
        <p class="mb-5">
            Créez des sondages et recueillez les voix des gens&nbsp;!
        </p>
        <p class="text-center">
            <a href="/survey/create" style="text-decoration: none; color: white;">
                Commencez-dès maintenant !
            </a>
        </p>
    </div>
</div>
