@using ccisurvey.data.Models

@{
    var created = (List<Survey>)ViewData["Created"];
    var particpating = (List<Survey>)ViewData["Participating"];
}

<div>
    <p>Mes sondages</p>
    @foreach (var survey in created)
    {
        <p>
            @survey.Label
        </p>
    }

</div>

<script scoped>

</script>