@model ccisurvey.services.VMs.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<!--
<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Se connecter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->

<div class="login">
    <div class="top">
        <img class="logo" src="~/Image/logo.png" alt="logo" />

        <div class="top-btn">
            <div class="plus">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </div>

            <div class="person-fill">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg>
            </div>
        </div>
    </div>

    <div class="form-container">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="connexion" type="submit" value="Se connecter"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style scoped>
    body {
        background: #FDF1D8;
    }

    .login {
        height: 100%;
        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .login * {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .top {
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }

    .logo {
        height: 60px;
        margin: 50px;
    }

    .top-btn {
        margin: 50px;
        flex-direction: row;
        right: 0px;
        top: 0px;
    }

    .plus, .person-fill {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        padding:10px;

        border-radius: 666px;

        color: #FFFFFF;
        background: #E86A92;
    }

    .plus *, .person-fill * {
        color: #FFFFFF;
    }

    .form-container {
        margin-inline: 50px;
        padding-top: 20px;
        border-radius: 20px;
        background: #2B2D42;
    }

    .form-container * {
        color: #FFFFFF;
        font-weight: 800;
        font-size: 16pt;
    }

    .form-group {
        margin-inline: 20px; 
        margin-bottom: 20px
    }

    input {
        -webkit-appearance: none;
    }

    .form-group input {
        border-radius: 666px;
    }

    .form-group .form-control{
        margin-top: 5px;
        padding-inline: 20px;
        font-weight: 400;
    }

    .form-group .connexion {
        width: 250px;
        color: #2B2D42;
        background: #FFFFFF;

        text-align: center;
        align-self: center;
    }
</style>